<%= link_to "Browse", books_path%>

<div class="banner">
<div class="container">
    <h1><strong>Books inspiration for many creative people</strong>!</h1>

  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
