<h1>Book_Rentals</h1>

<div id="books">
  <% @books.each do |book| %>
    <div class="card-product book-card my-3">
      <img src="https://picsum.photos/120/120/?blur" alt="">
      <div class="card-product-infos">
        <h2><%= book.title %></h2> by <%= book.author %>
        <p>
        <%= book.summary%>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
