<div>
<%= @book.title %>

</div>

<div class="card-product-infos">
<% @book.reviews.each do |review| %>
<h2><%= review.comment %></h2>
</div>
<div class="col">
<%= button_to "Add review", class: 'btn btn-review btn-md' %>
</div>
<% end %>
